<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">About</h4>
        </div>
        <div class="modal-body">
            <p>
                Created by <a href="https://jbsouvestre.com">Jean-Baptiste Souvestre</a>
            </p>
            <p>
                Code is open source on <a href="https://github.com/jbsouvestre/paris-metro">Github</a> !
            </p>
            <p>
                <strong>Technologies: </strong>
                Marionette, Google Maps API v3, Handlebars
            </p>
            <p>
                &copy; Jean-Baptiste Souvestre - 2016
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary">
                Close
            </button>
        </div>
    </div>
</div>