@mixin modal {
    position: absolute;
    z-index: $z-index-modal;
    background: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    padding: 15px 25px;
    overflow: hidden;
    transform: scale(.3);

    transition: all .6s ease;
    
    text-align: center;

    &.in {
        transform: scale(1);
    }
}


#modal {
    
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    top: -100px;
    @include modal;

    &.in {
        top: 0;
    }
}

$drawer-pull: 35%;

#drawer {
    width: 100%;
    bottom: - 100% - $drawer-pull;
    @include modal;

    &.in {
        bottom: 0;
    }
}
