<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Finished !</h4>
        </div>
        <div class="modal-body">
            Congrats, you scored {{score}}.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">
                Restart
            </button>
        </div>
    </div>
</div>