<div class="row">
    

    <h2>You scored <b>{{score}}</b> for this round</h2>
    
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%"></div>
    </div>

    <button class="btn btn-primary btn-lg btn-block game-continue">Continue</button>
</div>