<div class="container-fluid">
    <div class="row">
        <h4>Your guess was <strong>{{distance distance}} from the correct location</strong></h4>
        <p>You score <b>{{score}}</b> points for this round</p>
        
        <div class="col-xs-12 col-sm-6 col-sm-6 col-sm-offset-3">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0%"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-6 col-sm-offset-3">
            <button class="btn btn-primary btn-lg btn-block game-continue">{{textNext}}</button>
        </div>
    </div>
</div>